@use "../abstracts" as *;

section#hero {
  background-image: url(/src/assets/svg/blob-cream.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: 100% 100%;
  padding-top: 106px;
  // min-height: 100vh;

  @include screen(md) {
    background-position: 125% 80%;
    background-size: 120% 150%;
  }

  @include screen(md) {
    background-size: 120% min(150%, 1200px);
  }

  .wrapper {
    padding: 40px var(--site-padding);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 94px);
    max-height: 800px;

    @include screen(md) {
      padding: 70px var(--site-padding);
      justify-content: space-between;
    }

    @include screen(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max-content;
      height: calc(100vh - 106px);
      max-height: 1000px;
      align-content: center;
    }

    h1 {
      text-wrap: nowrap;

      @include screen(lg) {
        font-size: 4rem;
      }

      @include screen(xl) {
        font-size: 6rem;
      }

      span {
        display: block;
        font-size: 0.6em;
        line-height: normal;
        letter-spacing: 0.04em;
        font-family: inherit;

        @include screen(lg) {
          margin: 0;
          margin-top: 0.2em;
        }
      }
    }

    .image-container {
      flex: 1;
      position: relative;
      min-height: 200px;

      @include screen(md) {
        // max-width: 500px;
        margin: 0 auto;
        width: 100%;
      }

      @include screen(lg) {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        min-width: 300px;
        max-width: 800px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;

        @include screen(lg) {
          position: relative;
        }
      }
    }

    .copy-container {
      margin: 0 auto;

      @include screen(lg) {
        grid-column: 1 / 2;
        margin: 0;
      }

      p {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        line-height: 1.63;

        @include screen(lg) {
          // max-width: 500px;
          margin: unset;
          text-align: left;
          font-size: 1.8rem;
        }

        @include screen(xl) {
          font-size: 2rem;
          max-width: 500px;
        }
      }
    }
  }

  .button {
    @include screen(lg) {
      grid-column: 1 / 2;
      margin: unset;
      font-size: 2rem;
    }
  }
}
